*{
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box; 
}

@media (min-width: 0px){
    body{
        background-color: lightgrey;
    }

  
    .head{
        font-size: 12px;
        background-color: #EAC926;
        height: auto;
    }
    
    div#nav-section{
        padding: 20px;
    }

   

    div#abajo{
        padding-left: 25px;
    }

    nav{
        display: none;
    }
    
    li{
        list-style: none;
        display: flex;
    }

    p#encabezado{
        display: inline-block;
        text-align: center;
    }
    
    a.link-menu{
        text-decoration:none;
        color: black;
        display:inline-block;
        list-style:none;
    }
    
    div.burger-menu{
        background-color: #0d4785;
        color: white;
        width: 50px;
        height: 50px;
        border-radius: 10%;
        left:45%;
        position: relative;
        display: inline-block;
        text-align: center;
        padding-top: 10px; 
        bottom: 10px;
    }
    
    .fa-bars:before {
        content: "\f0c9";
        padding-top: 10px;
        font-size: 30px;
    }


    div.formulario{
        display: flex;
        align-self: center;
        justify-content: center;
        

    }
    .log-search{
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: center;        
      }
      
      img#logo{
          width: 45%;
      }
  
      input#search{
          height: 3em;
          width: 50%;
          border-radius: 5px;
          border-style: none;
          padding: 10px;
      }
  
      .button-search{
          position: relative;
          height: 2.5em;
          width: 2.5em;
          border: none;
          border-radius: 5px;
          left: 90%;
          background: #FFF;
          bottom: 2.8em;
      }

    form{
        width: 80vw;
        padding-left: 3em;
        margin-bottom: 5em;
    }

    .datos-login input{
        height: 50%;
        width: 90%;
        border-radius: 5px;
        border-style: none;
        padding: 10px;
        margin-top: 3em;
        text-align: center;
        margin-bottom: 40px;
    }

    input.submit{
        height: 2em;
        width: 90%;
        border-radius: 5px;
        border-style: none;
        padding: 10px;
        margin-top: 3em;  
        background-color: #0d4785;
        color: white;
        text-align: center;
    }


    
    input.input-register{
        height: 3vh;
        width: 90%;
        border-radius: 5px;
        border-style: none;
        padding: 10px;
        margin-top: 3em;
    }


    
    img.banner{
        width: 100%;  
    }
    
    p.titulares{
        font-size: 24px;
        margin: .7em;
        color: rgb(85, 85, 85);
        font-style: bold;
    }

    main{
        width: 90%;
        margin: auto;
    }

    main section article i{
        display: block;
        font-size: 16px;
        padding: 5px;
        width: 30px;
        height: 30px;
        border: 1px solid #39b54a;
        background-color: #FFF;
        border-radius: 50%;
        position: absolute;
        right: 20px;
        top: -15px;
    }
    
    
    img.imagen-size{
        width: 100%;
    }

    i.fa-truck, p.p-verdoso{
        color: #66C26E;
      
    }
    i.fa-truck:hover{
    transform: rotate(360deg);
    }
    p.p-verdoso{
        font-size: 16px;
        flex-grow: 0.7;
    }

    div.circulo{
        display: block;
        font-size: 16px;
        padding: 5px;
        width: 30px;
        height: 30px;
        border: 1px solid #39b54a;
        background-color: #FFF;
        border-radius: 50%;
        position: absolute;
        right: 20px;
        top: -15px;
        
    }

    
    div.producto{
          margin: 10px;
          background-color: white;
      }
      
      div.detalles-producto{
          border-top: solid #ebebeb 1px;
          padding: 15px;
          display: block;
          position: relative;
          
      }
  
      div.valores{
          margin-bottom: 1em;
          display: flex;
      }
  
      p.precio{
          font-size: 18px;
          flex-grow: 0.3;
      }
      
   
    footer{
        text-align: center;
        font-size: 12px;
        background-color: white;
    }
    
    i.azule{
        color: #0d4785;
        font-size: 2em;
        transition: all 3ms;
    }
    i.azule:hover{
        color: #39b54a;
    }
    
    section.center{
        display: flex;
        flex-direction: row;
        padding: 25px;
    }
}

.formulario{
    padding: 20px 15px;
    background-color: lightgrey;

}

.control-formulario{
    margin-bottom: 15px;
    background-color: lightgrey;
}

.control-formulario label{
    margin-bottom: 5px;
    font-style: italic;
    display: block;
}

.control{
    width: 100%;
    padding: 8px 8px;
}
 .boton-formulario{
     background-color: #39b54a;
     border: none;
     font-size: 20px;
     color:white;
     padding: 5px 10px;
     border-radius: 5px;
 }
@media (min-width: 440px){

    .button-search{
        bottom: 3.2em;
    }
}



@media (min-width: 620px){

    .button-search{
        bottom: 4em;
    }
    @media (min-width: 520px){

          .button-search{
              bottom: 3.5em;
          }
      }
}


@media (min-width: 768px){

    .head{
        height: 13em;
    }

    div.logo-search-abajo{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2em;
    }

    div.log-search{
        width: 60vw;
        display: flex;
        align-items: center;
    }

    input#search{
        width: 45%;
    }

    .button-search{
        bottom: 0em;
        left: -4em;
    }

    div#abajo{
        padding: 0%;
        margin-right: 3%;
    }

    @media (min-width: 707px){

          input#search{
              margin-left: 1em;
          }
          
          .button-search{
              bottom: 4.4em;
          }
      }
      

    div.producto{
        box-shadow:  0px 0px 10px rgb(100, 100, 100);
        flex-grow: 0.5;
    }
    
    nav, ul{
        display: flex;
        justify-content: space-between;
    }

    ul.lado-i{
        width: 30%;
        margin-right: 3em;
    }

    ul.lado-d{
        width: 30%;
    }


    
    p.description{
        display: inline-block;
        opacity: 0;
        transition: all .3s;
    }

    
    
  
 
.log-button{
      background-color: #4c6ea0;
      border-radius: 5px;
      width: 100%;
  }


  .login{
      display: block;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      background-color: lightgrey;
      
     
  }
  .datos-login{
      padding: 10px;
      display: inline-block;
      width: 50%;
      background-color: lightgrey;
  
  }

  .btn-enviar{
      background-color:#032353 ;
      color: #fff;
      border-radius: 5px;
      border: solid 1px var(--light-blue);
      width:50%;
      height: 50%;
  }
  .btn-enviar:hover{
      background-color: #0022aa;
  }
  .foto-login{
      display: none;
  }
  .ingresar-ingresar{
      color:#fff;
  }
  
  
  
    header{
        font-size: 12px;
        background-color: #EAC926;
        height: 400px;
    }
    
    div.burger-menu{
        display: none;
    }
    
    div.bloque-productos{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    div.bloque-productos:hover p.description{
        opacity: 1;
    }

    div.producto{
        flex-grow: unset;
        width: 45%;
    }
}

@media (min-width: 1280px){

    .head{
        height: auto;
    }

    div.log-search{
        width: 68vw;
        display: flex;
        align-items: center;
    }

    .button-search{
        bottom: 0em;
        left: -5em;
    }

    div#abajo{
        padding: 0%;
        margin-right: 10%;
    }




    div.producto{
        box-shadow:  0px 0px 10px rgb(100, 100, 100);
    }

    div.bloque-productos{
    flex-wrap: nowrap;
    }

    

    section.center{
        display: flex;
        justify-content: space-around;
        width: auto;
        flex-direction: row;
    }


    .foo{
        width: auto;
        margin-right: 0;
    }
}